@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #3b82f6;
    color: white;
}

.title img {
    height: 50px;
    width: 50px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(126deg) brightness(109%) contrast(108%);
}

ul img {
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(126deg) brightness(109%) contrast(108%);
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
}

.header img {
    width: 40px;
    height: 40px;
}

.top-bar { 
    height: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 150px;
}

.search {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: 1fr 18fr;
}

.search img {
    grid-column-start: 1;
    grid-column-end: 2;
}

.search input {
    grid-column-start: 2;
    grid-column-end: 3;
}

.top-right {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
}

#bell {
    grid-column-start: 1;
    grid-column-end: 2;
}

.top-right .user-icon {
    grid-column-start: 2;
    grid-column-end: 3;
}

.top-right h3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#user-icon-2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

button {
    background-color: #3b82f6;
}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #e5e5e5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.announcements {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.trending {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
}

.card {
    background-color: white;
}

.card img {
    height: 30px;
    width: 30px;
}

ul {
    list-style-type: none;
}

.trending, .announcements {
    background-color: white;
}