@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 1000px;
    margin: 0;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #3b82f6;
    color: white;
    padding: 30px;
}

.title {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.title img {
    padding-top: 10px;
    height: 60px;
    width: 60px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(126deg) brightness(109%) contrast(108%);
}

ul img {
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(126deg) brightness(109%) contrast(108%);
}

li {
    font-size: 30px;
    font-weight: 500;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    padding: 10px;
}

.header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2; 
}

.header img {
    width: 30px;
    height: 30px;
}

.top-bar { 
    height: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 150px;
    margin-left: 40px;
}

.search {
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 18fr;
}

.search img {
    grid-column-start: 1;
    grid-column-end: 2;
}

.search input {
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 15px;
    background-color: #e5e5e5;
    border: none;
    height: 30px;
}

.top-right {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    align-items: center;
    gap: 10px;
}

#bell {
    grid-column-start: 1;
    grid-column-end: 2;
}

#user-top-right {
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.top-right h3 {
    grid-column-start: 3;
    grid-column-end: 4;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.low-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 40px;
    margin-top: 20px;
}

.bottom-left {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}

#user-icon-2 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

#btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

button {
    background-color: #3b82f6;
    border-radius: 20px;
    border: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    height: 40px;
    width: 120px;
}

.main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #e5e5e5;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.project {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 30px;
}

#container-1 {
    padding-left: 25px;
    padding-top: 30px;
}

.aside {
    padding-top: 30px;
    padding-right: 30px;
}

.announcements {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.news p {
    color: #737373;
    font-size: 14px; 
}

#container-2 {
    margin-top: 40px;
}

.trending {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
}

.card {
    background-color: white;
    height: 240px;
    width: 500px;
    display: grid;
    grid-template: 4fr 1fr / 1fr 15fr 15fr;
}

#stripe {
    background-color: #eab308;
    grid-area: 1/1/3/2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card .text {
    grid-area: 1/2/2/4;
    padding: 20px;
}

.card .icons {
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: space-around;
}

.card p {
    color: #737373;
    font-size: 18px;
}

.card img {
    height: 30px;
    width: 30px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 70px;
}

.trending, .announcements {
    background-color: white;
    padding: 30px 40px;
}

.card, .announcements, .trending {
    box-shadow: 3px 4px 3px #d4d4d4;
    border-radius: 10px;
}

.user-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.user-card p {
    color: #737373;
}

.user-card img {
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

